@model TravelAgency.Shared.Models.DocumentMenu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DocumentMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuId" />
            <div class="form-group">
                <label asp-for="RocPassportOption" class="control-label"></label>
                <input asp-for="RocPassportOption" class="form-control" />
                <span asp-validation-for="RocPassportOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForeignVisaOption" class="control-label"></label>
                <input asp-for="ForeignVisaOption" class="form-control" />
                <span asp-validation-for="ForeignVisaOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationType" class="control-label"></label>
                <select asp-for="ApplicationType" class="form-control"></select>
                <span asp-validation-for="ApplicationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingItem" class="control-label"></label>
                <input asp-for="ProcessingItem" class="form-control" />
                <span asp-validation-for="ProcessingItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseType" class="control-label"></label>
                <input asp-for="CaseType" class="form-control" />
                <span asp-validation-for="CaseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingDays" class="control-label"></label>
                <input asp-for="ProcessingDays" class="form-control" />
                <span asp-validation-for="ProcessingDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentValidityPeriod" class="control-label"></label>
                <input asp-for="DocumentValidityPeriod" class="form-control" />
                <span asp-validation-for="DocumentValidityPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StayDuration" class="control-label"></label>
                <input asp-for="StayDuration" class="form-control" />
                <span asp-validation-for="StayDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
