@{
    ViewData["Title"] = "忘記密碼";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">@ViewData["Title"]</h2>

                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group mb-3">
                        <label>請輸入電話</label>
                        <input name="phone" class="form-control" autocomplete="off"  required />
                    </div>
                    <div class="form-group mb-3">
                        <label>請輸入信箱</label>
                        <input name="email" type="email" class="form-control" autocomplete="off" required />
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">下一步</button>
                    </div>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="text-danger mt-2">@Html.ValidationSummary(true)</div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
