@model TravelAgency.Shared.Models.CompletedOrderDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompletedOrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentMenu.MenuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderForm.ChineseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompletedOrderDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
