@model TravelAgency.Shared.Models.Attraction

@{
    ViewData["Title"] = "CreateAttraction";
}

<h2>新增景點項目</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAttraction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label">區</label>                
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.Districts">
                    <option value="">請選擇區</option>
                </select>
                <span asp-validation-for="DistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttractionName" class="control-label"></label>
                <input asp-for="AttractionName" class="form-control" />
                <span asp-validation-for="AttractionName" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="新增" class="btn btn-primary me-3" />
    <a asp-action="List" class="btn btn-secondary">返回</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
