@model TravelAgency.Shared.Models.Transport

@{
    ViewData["Title"] = "CreateTransportation";
}

<h2>新增交通方式項目</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTransportation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="TransportMethod" class="control-label">交通方式</label>
                <input asp-for="TransportMethod" class="form-control" />
                <span asp-validation-for="TransportMethod" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="新增" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">返回</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
