@model TravelAgencyBackend.Models.Transportation

@{
    ViewData["Title"] = "EditTransportation";
}

<h2>修改交通方式項目</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTransportation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="TransportId" value="@Model.TransportId" />
            <div class="form-group">
                <label asp-for="TransportMethod" class="control-label"></label>
                <input asp-for="TransportMethod" class="form-control" />
                <span asp-validation-for="TransportMethod" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="修改" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">返回</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
