@model TravelAgencyBackend.Models.City

@{
    ViewData["Title"] = "EditCity";
}

<h2>修改縣市項目</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CityId" value="@Model.CityId" />
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="修改" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">返回</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
