@model TravelAgencyBackend.ViewModels.ParticipantEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>修改參與人資料</h1>

<h4>參與人</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParticipantId" />
            <div class="mb-3">
                <label class="form-label">所屬會員</label>
                <input type="text" class="form-control" value="@ViewBag.MemberName" disabled />
                <input type="hidden" asp-for="MemberId" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" type="date"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishName" class="control-label"></label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label"></label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedPlace" class="control-label"></label>
                <input asp-for="IssuedPlace" class="form-control" />
                <span asp-validation-for="IssuedPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportIssueDate" class="control-label"></label>
                <input asp-for="PassportIssueDate" class="form-control" type="date"/>
                <span asp-validation-for="PassportIssueDate" class="text-danger"></span>
            </div>
            <hr>
            <div class="form-group">

                @* 管理參與人 *@
                @if (PermissionChecker.CanManageParticipants)
                {
                    <input type="submit" value="儲存變更" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="儲存變更" class="btn btn-primary disabled" 
                    tabindex="-1" aria-disabled="true" onclick="return false"/>
                }

            </div>
        </form>
    </div>
</div>

@* 查看參與人 *@
@if (PermissionChecker.CanViewParticipants)
{
    <a asp-action="Index" asp-route-memberId="@Model?.MemberId" class="btn btn-secondary">
        找發起人
    </a>
}
else
{
    <a asp-action="Index" asp-route-memberId="@Model?.MemberId" class="btn btn-secondary disabled"
    tabindex="-1" aria-disabled="true" onclick="return false">
        找發起人
    </a>
}

@* 查看參與人 *@
@if (PermissionChecker.CanViewParticipants)
{
    <a asp-action="Index" class="btn btn-secondary">
        回到參與人列表
    </a>
}
else
{
	<a asp-action="Index" class="btn btn-secondary disabled"
	   tabindex="-1" aria-disabled="true" onclick="return false">
		回到參與人列表
	</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
