<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-header">出團狀態分佈</div>
        <div class="card-body">
            <div class="chart-container" style="max-width: 100%; min-height: 300px;">
                <canvas id="groupStatusChart"></canvas>
            </div>
        </div>
    </div>
</div>
