<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header">每月訂單統計</div>
        <div class="card-body">
            <h5 class="card-title">每月新增訂單數</h5>
            <div class="chart-container" style="max-width: 100%; min-height: 300px;">
                <canvas id="orderChart"></canvas>
            </div>
        </div>
    </div>
</div>
