<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header">付款方式統計</div>
        <div class="card-body">
            <h5 class="card-title">訂單付款方式分佈</h5>
            <div class="chart-container" style="max-width: 100%; min-height: 300px;">
                <canvas id="paymentChart"></canvas>
            </div>
        </div>
    </div>
</div>
