@model TravelAgencyBackend.ViewModels.OfficialTravelEditViewModel


@{
	ViewData["Title"] = "Edit";
}

<h1>編輯專案</h1>

<hr />
<div class="row d-flex justify-content-around">
	<div class="col-6">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="OfficialTravelId" />
			<div class="form-group mb-4">
				<h4><label asp-for="CreatedByEmployeeId" class="control-label"></label></h4>
				<select asp-for="CreatedByEmployeeId" class="form-control" asp-items="ViewBag.CreatedByEmployeeId"></select>
				<span asp-validation-for="CreatedByEmployeeId" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="RegionId" class="control-label"></label></h4>
				<select asp-for="RegionId" class="form-control" asp-items="ViewBag.RegionId"></select>
				<span asp-validation-for="RegionId" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="Title" class="control-label"></label></h4>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="ProjectYear" class="control-label"></label></h4>
				<input asp-for="ProjectYear" class="form-control" />
				<span asp-validation-for="ProjectYear" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="AvailableFrom" class="control-label"></label></h4>
				<input asp-for="AvailableFrom" class="form-control" />
				<span asp-validation-for="AvailableFrom" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="AvailableUntil" class="control-label"></label></h4>
				<input asp-for="AvailableUntil" class="form-control" />
				<span asp-validation-for="AvailableUntil" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="Description" class="control-label"></label></h4>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<h4><label asp-for="Days" class="control-label"></label></h4>
				<input asp-for="Days" class="form-control" />
				<span asp-validation-for="Days" class="text-danger"></span>
			</div>
			@if (!string.IsNullOrEmpty(Model.CoverPath))
			{
				<div class="form-group mb-4">
					<h4>目前封面：</h4>
					<img src="@Model.CoverPath" alt="封面圖片" style="max-width: 300px;" />
				</div>
			}
			<div class="form-group mb-4">
				<h4><label asp-for="Cover" class="control-label"></label></h4>
				<input asp-for="Cover" class="form-control" type="file" />
				<span asp-validation-for="Cover" class="text-danger"></span>
			</div>

			<input asp-for="CreatedAt" class="form-control" type="hidden" />

			<div class="form-group mb-4">
				<h4><label asp-for="Status" class="control-label"></label></h4>
				<select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<TravelStatus>()"></select>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>


			<div class="form-group mb-4 d-flex justify-content-end gx-4">
				@if (PermissionChecker.CanViewOfficialTravels)
				{
					<div class="col"><a asp-action="Index" class="btn btn-outline-primary text-decoration-none">回前頁</a></div>
				}
				else
				{
					<div class="col"><a asp-action="Index" class="btn btn-outline-primary text-decoration-none disabled"
						tabindex="-1" aria-disabled="true" onclick="return false;">
							回前頁
						</a>
					</div>
				}
				@if (PermissionChecker.CanManageOfficialTravels)
				{
					<div class="col d-flex justify-content-end"><input type="submit" value="儲存" class="btn btn-primary " /></div>
				}
				else
				{
					<div class="col d-flex justify-content-end">
						<input type="submit" value="儲存" class="btn btn-primary disabled"
							   tabindex="-1" aria-disabled="true" onclick="return false;" />
					</div>
				}
			</div>

			<div class="form-group mb-4 gx-5 d-flex justify-content-end">
				@Html.ActionLink("新增行程細節", "Create", "OfficialTravelDetails")
			</div>
			
			
			</form>
			
		</div>
	</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
