@model TravelAgency.Shared.Models.OfficialTravelSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OfficialTravelSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfficialTravelDetailId" class="control-label"></label>
                <select asp-for="OfficialTravelDetailId" class ="form-control" asp-items="ViewBag.OfficialTravelDetailId"></select>
            </div>
            @* 楷茵 *@
            @* <div class="form-group"> *@
            @*     <label asp-for="ItemId" class="control-label"></label> *@
            @*     <input asp-for="ItemId" class="form-control" /> *@
            @*     <span asp-validation-for="ItemId" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="Category" class="control-label"></label> *@
            @*     <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<TravelActivityType>()"></select> *@
            @*     <span asp-validation-for="Category" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="StartTime" class="control-label"></label> *@
            @*     <input asp-for="StartTime" class="form-control" type="time" step="1" /> *@
            @*     <span asp-validation-for="StartTime" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="Date" class="control-label"></label> *@
            @*     <input asp-for="Date" class="form-control" type="date" /> *@
            @*     <span asp-validation-for="Date" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note1" class="control-label"></label>
                <input asp-for="Note1" class="form-control" />
                <span asp-validation-for="Note1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note2" class="control-label"></label>
                <input asp-for="Note2" class="form-control" />
                <span asp-validation-for="Note2" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (PermissionChecker.CanManageOfficialTravels)
                {
                    <input type="submit" value="Create and Next" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Create and Next" class="btn btn-primary disabled"
                    tabindex="-1" aria-disabled="true" onclick="return false;" />
                }

            </div>
        </form>
    </div>
</div>
<div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
</div>

<div>
    @if (PermissionChecker.CanViewOfficialTravels)
    {
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-action="Index" class="disabled"
           tabindex="-1" aria-disabled="true" onclick="return false;">
        Back to List
        </a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
