@model TravelAgency.Shared.Models.OfficialTravelSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OfficialTravelSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfficialTravelDetailId" class="control-label"></label>
                <select asp-for="OfficialTravelDetailId" class ="form-control" asp-items="ViewBag.OfficialTravelDetailId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breakfast" class="control-label"></label>
                <input asp-for="Breakfast" class="form-control" />
                <span asp-validation-for="Breakfast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch" class="control-label"></label>
                <input asp-for="Lunch" class="form-control" />
                <span asp-validation-for="Lunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner" class="control-label"></label>
                <input asp-for="Dinner" class="form-control" />
                <span asp-validation-for="Dinner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel" class="control-label"></label>
                <input asp-for="Hotel" class="form-control" />
                <span asp-validation-for="Hotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attraction1" class="control-label"></label>
                <input asp-for="Attraction1" class="form-control" />
                <span asp-validation-for="Attraction1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attraction2" class="control-label"></label>
                <input asp-for="Attraction2" class="form-control" />
                <span asp-validation-for="Attraction2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attraction3" class="control-label"></label>
                <input asp-for="Attraction3" class="form-control" />
                <span asp-validation-for="Attraction3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attraction4" class="control-label"></label>
                <input asp-for="Attraction4" class="form-control" />
                <span asp-validation-for="Attraction4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attraction5" class="control-label"></label>
                <input asp-for="Attraction5" class="form-control" />
                <span asp-validation-for="Attraction5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note1" class="control-label"></label>
                <input asp-for="Note1" class="form-control" />
                <span asp-validation-for="Note1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note2" class="control-label"></label>
                <input asp-for="Note2" class="form-control" />
                <span asp-validation-for="Note2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
