@model TravelAgencyBackend.ViewModels.MemberCreateViewModel

@{
    ViewData["Title"] = "新增會員";
}

<h1>新增會員</h1>

<h4>會員</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="請輸入姓名" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="請輸入手機號碼" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="example@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="請設定長度6~12位數，且包含大小寫英文的密碼"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <hr>

            @* 管理會員 *@
            @if (PermissionChecker.CanManageMembers)
            {
                <button type="submit" class="btn btn-primary">新增</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary disabled"
                tabindex="-1" aria-disabled="true" onclick="return false;">
                新增
                </button>
            }

            @* 查看會員 *@
            @if (PermissionChecker.CanViewMembers)
            {
                <a asp-action="Index" class="btn btn-secondary">返回列表</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">返回首頁</a>
            }

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
