@model TravelAgency.Shared.Models.OfficialTravelDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OfficialTravelDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfficialTravelId" class="control-label"></label>
                <select asp-for="OfficialTravelId" class ="form-control" asp-items="ViewBag.OfficialTravelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TravelNumber" class="control-label"></label>
                <input asp-for="TravelNumber" class="form-control" />
                <span asp-validation-for="TravelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdultPrice" class="control-label"></label>
                <input asp-for="AdultPrice" class="form-control" />
                <span asp-validation-for="AdultPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildPrice" class="control-label"></label>
                <input asp-for="ChildPrice" class="form-control" />
                <span asp-validation-for="ChildPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BabyPrice" class="control-label"></label>
                <input asp-for="BabyPrice" class="form-control" />
                <span asp-validation-for="BabyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
